In [1]:
import pandas as pd
import re

from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer('spanish')

In [2]:
categoria = 'cheesecake' #'mezcla pastel' #'mezcla torta' #'postres'
porcentaje_raro = 0.05
stopitem = ['molde', 'tenedor', 'modelo', 'plato', 'cuchara', 'bowl', 'set', 'estuche', 'decorativo']

In [3]:
df = pd.read_csv('scraping_de_{}.csv'.format(categoria))
df.dropna(inplace = True)

df['precio'] = df['precio'].str.replace('.', '').str.replace(',', '.')
df['precio'] = df['precio'].apply(lambda x: re.sub('[^0-9]', '', x)).astype(float)

df['unidad'] = df['precio_por_gramo'].apply(lambda x: stemmer.stem(str(x).split(' ')[0].lower()))
unidades_raras = df.unidad.value_counts()[df.unidad.value_counts(normalize = True) < porcentaje_raro].index
df = df[~df.unidad.isin(unidades_raras)].copy()

df['precio_unitario'] = df['precio_por_gramo'].apply(lambda x: str(x).split(' ')[3])
df['precio_unitario'] = df['precio_unitario'].str.replace('.', '').str.replace(',', '.').astype(float)

df = df.drop(['precio_por_gramo'], axis=1).copy()

df['nombre'] = df['nombre'].str.lower()

Q1 = df['precio'].quantile(0.25)
Q3 = df['precio'].quantile(0.75)
IQR = Q3 - Q1
filter = (df['precio'] >= Q1 - 3 * IQR) & (df['precio'] <= Q3 + 3*IQR)
df = df.loc[filter].copy()

correct_items = df['nombre'].apply(lambda x: len([word for word in str(x).split(' ') 
                                                  if stemmer.stem(word) in stopitem])) == 0


stopitem = [stemmer.stem(item) for item in stopitem]
df = df[correct_items].copy()

df.to_csv('datos_de_{}.csv'.format(categoria), index = False)

In [4]:
df.head()

,nombre,precio,fecha,lugar,unidad,precio_unitario
0,cheesecake brownie x 120 g,6500.0,2021-06-11,Bogotá,gram,54.17
1,cheesecake frutos rojos x 120 g,6500.0,2021-06-11,Bogotá,gram,54.17
2,cheesecake limon x 120 g,6500.0,2021-06-11,Bogotá,gram,54.17
3,cheesecake de frutos rojos 12 porciones,34900.0,2021-06-11,Bogotá,gram,43.63
4,helado de cheesecake de fresa haagen-dazs marc...,23200.0,2021-06-11,Bogotá,gram,55.90

In [5]:
df.tail()

,nombre,precio,fecha,lugar,unidad,precio_unitario
59,postre de helado cheesecake con agraz colombin...,37650.0,2021-06-11,Valledupar,gram,41.83
60,cheesecake brownie x 120 g,6500.0,2021-06-11,Villavicencio,gram,54.17
61,cheesecake frutos rojos x 120 g,6500.0,2021-06-11,Villavicencio,gram,54.17
62,cheesecake limon x 120 g,6500.0,2021-06-11,Villavicencio,gram,54.17
63,postre de helado cheesecake con agraz colombin...,37650.0,2021-06-11,Villavicencio,gram,41.83