In [1]:
import pandas as pd
import re

from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer('spanish')

In [2]:
categoria = 'postres'
porcentaje_raro = 0.05
stopitem = ['molde', 'tenedor', 'modelo', 'plato', 'cuchara', 'bowl', 'set', 'estuche', 'decorativo']

In [3]:
df = pd.read_csv('scraping_de_{}.csv'.format(categoria))
df.dropna(inplace = True)

df['precio'] = df['precio'].str.replace('.', '').str.replace(',', '.')
df['precio'] = df['precio'].apply(lambda x: re.sub('[^0-9]', '', x)).astype(float)

df['unidad'] = df['precio_por_gramo'].apply(lambda x: stemmer.stem(str(x).split(' ')[0].lower()))
unidades_raras = df.unidad.value_counts()[df.unidad.value_counts(normalize = True) < porcentaje_raro].index
df = df[~df.unidad.isin(unidades_raras)].copy()

df['precio_unitario'] = df['precio_por_gramo'].apply(lambda x: str(x).split(' ')[3])
df['precio_unitario'] = df['precio_unitario'].str.replace('.', '').str.replace(',', '.').astype(float)

df = df.drop(['precio_por_gramo'], axis=1).copy()

df['nombre'] = df['nombre'].str.lower()

Q1 = df['precio'].quantile(0.25)
Q3 = df['precio'].quantile(0.75)
IQR = Q3 - Q1
filter = (df['precio'] >= Q1 - 3 * IQR) & (df['precio'] <= Q3 + 3*IQR)
df = df.loc[filter].copy()

correct_items = df['nombre'].apply(lambda x: len([word for word in str(x).split(' ') 
                                                  if stemmer.stem(word) in stopitem])) == 0


stopitem = [stemmer.stem(item) for item in stopitem]
df = df[correct_items].copy()

df.to_csv('datos_de_{}.csv'.format(categoria), index = False)

In [4]:
df.head()

,nombre,precio,fecha,lugar,unidad,precio_unitario
0,postre de helado maracuya colombina 900 gr,38200.0,2021-04-10,Bogotá,gram,42.44
1,postre p/provocacion de arequi crem helado 600 gr,20150.0,2021-04-10,Bogotá,gram,33.58
2,postre de natas natas santafe 100 gr,6250.0,2021-04-10,Bogotá,gram,62.50
3,postre tiramisu mediano endulza tu vida 120 gr,8700.0,2021-04-10,Bogotá,gram,72.50
4,postre de chocolate pequeño endulza tu vida 55...,4460.0,2021-04-10,Bogotá,gram,81.09

In [5]:
df.tail()

,nombre,precio,fecha,lugar,unidad,precio_unitario
2932,helado con trozos de milkyway gourmet popsy 60...,26350.0,2021-04-10,Soacha,gram,43.92
2933,flan caramelo duopack smartchef 200 gramo,5360.0,2021-04-10,Soacha,gram,26.80
2934,cheesecake frutos rojos x 120 g,6500.0,2021-04-10,Soacha,gram,54.17
2935,tres leches arequipe pomona 720 gr,22290.0,2021-04-10,Soacha,gram,30.96
2936,cheesecake limon x 120 g,6500.0,2021-04-10,Soacha,gram,54.17